<!DOCTYPE html>
<html>
  <head>
  	<title>Login in Marvin</title>
        <% include ./partials/head %>
        <link rel="stylesheet" href="/stylesheets/loginsignup.css">
  </head>
  <body>
    <div class="container">
      <div class="card card-container">
        <div id="form-title">Marvin Services</div>
        <form class="form-signin" onSubmit="return getToken(email, password)">
          <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" required autofocus>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
          <button class="btn btn-lg btn-success btn-block btn-signin">Login</button>
        </form>
        <a id='signup' class="btn btn-lg btn-warning btn-block btn-signin" style="text-align='center'">Register now!</a>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var token = "<%= token %>";

      function getToken(email, password) {
        $.ajax ({
          type: 'POST',
          url: '/getToken',
          data: {
            "email": email.value,
            "password": password.value
          },
          success: function(response){
            if(response.token) token = response.token;
            console.log(token);
          },
          error: function(err) {
            console.log(err);
          }
        });
        return false;
      }

      $(document).ready(function(){
        $("#signup").click(function(){
          console.log(token);
          $.ajax({
            type: 'GET',
            url: '/',
            type: "GET",
            beforeSend: function(xhr){xhr.setRequestHeader('x-access-token', token);},
            success: function() { alert('Success!' + authHeader); }
          });
        });
      });
    </script>
  </body>
</html>