<!DOCTYPE html>
<html>
  <head>
    <title>Hit Counter</title>
    <!--link rel='stylesheet' href='/stylesheets/style.css' /-->
  </head>
  <body>
    <h1>Hits:</h1>
	<table style="width:100%">
		<tr>
			<td>Jill</td>
			<td>Smith</td>
			<td>50</td>
		</tr>

		<% for(var i=0; i<supplies.length; i++) {%>
			<tr>
				<td><%= supplies[i] %></td>
				<td>Smith</td>
				<td>50</td>
			</tr>
			<li></li>
		<% } %>
	</table>
  </body>
</html>
